@model IEnumerable<FoodItem>

<head>
    <link rel="stylesheet" href="/css/FoodModals.css" />
</head>

<div class="row pb-3">
    @foreach (var foodItem in Model)
    {
        <div class="food_modal col-lg-3 col-sm-6">
            <div class="food_modal row p-2">
                <div class="food_modal col-12 p-1">
                    <div class="food_modal card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@foodItem.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@foodItem.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="card-title h6 opacity-75 text-dark text-uppercase">Price: @foodItem.Price ₴</p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-foodItemId="@foodItem.Id" class="btn btn-dark bg-black border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





