* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    --mainColorOrange: rgb(247, 189, 127);
    --mainColorText: rgb(192, 201, 113);
    --mainColor: rgb(255, 254, 230);
    --mainColor4: rgb(240, 240, 175);
    --mainColorSection: #f9f9f9;
    --mainColorP: rgba(18,29,43,.6);
    --mainColorBnt: rgb(58 170 84);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.wrapper {
    width: 500px;
    color: var(--mainColorP);
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px rgb(181 181 181);
    padding: 40px;
}

.login__h {
    font-size: 36px;
    text-align: center;
    color: var(--mainColorP);
}

.input__box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.form__input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid var(--mainColorP);
    border-radius: 40px;
    padding: 20px;
}

    .form__input::placeholder {
        padding: 10px;
        color: var(--mainColorp);
        opacity: 0.7;
    }

.form__hover:hover {
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(197, 197, 197);
}

.form__hover:focus {
    box-shadow: #fff;
    background-color: #e5e5e5;
    border: none;
}

.btn_modal {
    border-radius: 40px;
}
