
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main__container {
    display: block;
    max-width: 1220px;
    margin: 0 auto;
}

.section {
    background-color: var(--mainColorSection);
    border-radius: 15px;
}

.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__top__block {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.section__h {
    font-weight: 900;
    font-size: 40px;
    color: var(--mainColorText);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section__h3 {
    font-weight: 900;
    font-size: 24px;
    color: #494646;
    font-family: 'Roboto', sans-serif;
}

.section__p {
    font-weight: 700;
    font-size: 18px;
    color: var(--mainColorP);
}

/*----------Section Bottom----------*/

.section__bottom {
    display: flex;
    justify-content: space-between;
}

.section__bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    width: 50%;
}

.section__bottom__img__block {
    width: 50%;
}

.section__bottom__img {
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

/*----------Media----------*/

@media (max-width: 1100px) {
    .section

{
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
}

.ds__sm {
    width: 100%;
    padding: 0;
}

.section__bottom__img {
    border-radius: 15px;
}

}

@media (min-width: 800px) and (max-width: 1100px) {
    .section__img {
        height: 500px;
    }
}

@media (max-width: 450px) {

    .section__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__bottom__text {
        padding: 0;
    }
}
