body {
    margin: 0;
    --mainColorOrange: rgb(247, 189, 127);
    --mainColorText: rgb(192, 201, 113);
    --mainColor: rgb(255, 254, 230);
    --mainColor4: rgb(240, 240, 175);
    --mainColorSection: #f9f9f9;
    --mainColorP: rgba(18,29,43,.6);
    --mainColorBnt: rgb(58 170 84);
    background-color: var(--mainColor4);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}

.main__container {
    display: block;
    max-width: 1220px;
    margin: 0 auto;
}

/* ----------Header---------- */

.header__container {
    background-color: var(--mainColor);
    height: 100%;
    border-bottom: 1px solid var(--mainColorText);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    height: 60px;
    padding: 10px 10px;
    background-color: var(--mainColor);
}

.header__logo__link {
    color: var(--mainColorText);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    gap: 70px;
    width: 100%;
}

.nav__link {
    color: var(--mainColorText);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* ----------Section Top---------- */

.section {
    background-color: var(--mainColorSection);
    border-radius: 15px;
}

.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: -webkit-center;
}

.section__top__block {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.section__h {
    font-weight: 900;
    font-size: 50px;
    color: var(--mainColorText);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section__h3 {
    font-weight: 900;
    font-size: 30px;
    color: var(--mainColorText);
    font-family: 'Roboto', sans-serif;
}

.section__p {
    font-weight: 700;
    font-size: 18px;
    color: var(--mainColorP);
}

/* ----------Section Bottom---------- */

.section__bottom {
    display: flex;
    justify-content: space-between;
}

.section__bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 50%;
}

.section__bottom__img__block {
    width: 50%;
}

.section__bottom__img {
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

/* ----------Section Support---------- */

.section__support {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    border-radius: 15px 15px 0 0;
}

.section__support__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.section__support__links {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.section__support__links__courier {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.section__support__links__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.section__support__img {
    text-align: center;
    width: 250px;
}

.section__support__p {
    text-align: center;
}

.section__support__btn {
    margin-top: 20px;
    width: 300px;
    height: 70px;
    background-color: var(--mainColorBnt);
    border: 1px solid var(--mainColorBnt);
    border-radius: 30px;
}

.section__support__btn__a {
    color: var(--mainColorSection);
    font-weight: 700;
    font-size: large;
}
/* ----------Footer---------- */
.section__footer {
    background-color: #333;
    ;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 0 5px;
}

.footer__contact {
    height: 200px;
    color: var(--mainColorText);
}

.footer__aboutUs a {
    color: var(--mainColorText);
}

.menu {
    position: relative;
}

.basket {
    position: relative;
}

.nested {
    display: none;
}

.active {
    position: absolute;
    top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--mainColorText);
    height: 300px;
    width: 300px;
    padding: 15px;
    margin-top: 29px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    z-index: 10;
}

.active__basket {
    width: auto;
}

.nested__links {
    color: var(--mainColorSection);
}

@media (max-width: 1100px) {
    .header {
        display: flex;
        justify-content: space-around;
    }

    .section {
        display: flex;
        flex-direction: column;
        flex-direction: wrap;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .ds__sm {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .section__img {
        height: 500px;
    }
}

@media (max-width: 650px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .section__support__links {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .active {
        margin-top: 12px;
    }
}

@media (max-width: 450px) {
    .header {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        margin: 0;
    }

    .section__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__bottom__text {
        padding: 0;
    }

    .section__support__links {
        margin: 0;
    }

    .section__support__links__courier {
        text-align: center;
    }

    .section__support__links__user {
        text-align: center;
    }
}
